*{
    

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    
    
  }

.banner{
  background-image: url(/pictures/blackbackground.webp);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 250px 0;
}
.footer {
  background: #061D25;
  padding: 10px 0;
}
.footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid #70726F;
}
.footer a:hover {
  color: white;
}